@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.team-boxed {
  color:#313437;
  background-color:#eef4f7;
}

.team-boxed p {
  color:#7d8285;
}

.team-boxed h2 {
  font-weight:bold;
  margin-bottom:40px;
  padding-top:40px;
  color:inherit;
}

@media (max-width:767px) {
  .team-boxed h2 {
    margin-bottom:25px;
    padding-top:25px;
    font-size:24px;
  }
}

.team-boxed .intro {
  font-size:16px;
  max-width:500px;
  margin:0 auto;
}

.team-boxed .intro p {
  margin-bottom:0;
}

.team-boxed .people {
  padding:50px 0;
}

.team-boxed .item {
  text-align:center;
}

.team-boxed .item .box {
  text-align:center;
  padding:30px;
  background-color:#fff;
  margin-bottom:30px;
}

.team-boxed .item .name {
  font-weight:bold;
  margin-top:28px;
  margin-bottom:8px;
  color:inherit;
}

.team-boxed .item .title {
  text-transform:uppercase;
  font-weight:bold;
  color:#d0d0d0;
  letter-spacing:2px;
  font-size:13px;
}

.team-boxed .item .description {
  font-size:15px;
  margin-top:15px;
  margin-bottom:20px;
}

.team-boxed .item img {
  max-width:160px;
}

.team-boxed .social {
  font-size:18px;
  color:#a2a8ae;
}

.team-boxed .social a {
  color:inherit;
  margin:0 10px;
  display:inline-block;
  opacity:0.7;
}

.team-boxed .social a:hover {
  opacity:1;
}

.cl2{
  margin-left:20px
}
.cl3{
  font-family : 'Poppins', sans-serif; 
  margin-top: 100px;
  font-size :22px;
  margin-left:25px;
  font-variant: 'small-caps'

}
.cl{

    margin-top: 200px;
   }
.container {
    display: flex;
    flex-direction: column;
  }
  
  /* img {
    margin: 6px;
  } */

.ticker-container .ticker-tape {
    height: auto;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  .ticker-container .ticker-tape:before, .ticker-container .ticker-tape:after {
    background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
  }
  .ticker-container .ticker-tape:after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }
   
  .ticker-container .ticker-tape:before {
    left: 0;
    top: 0;
  }
  .ticker-container .slide-track {
    -webkit-animation: scroll 40s linear infinite;
            animation: scroll 15s linear infinite;
    display: flex;
    width: calc(250px * 14);
  }
  .ticker-container div.slide {
    padding: 0 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

/* Animation*/
@-webkit-keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-250px * 7));
    }
  }
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-250px * 7));
    }
 
  }
  .font-loader {
    font-family: 'Chilanka';
  }

 

  .firstcharacter {
    color:rgb(58, 96, 115);
    float: left;
    font-family: Georgia;
    font-size: 75px;
    line-height: 60px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
  }
 
 



/*



.card{
    border: none;
}
.profile-container{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 10%;
    min-height: fit-content;
  
}
.profile-parent{
    display: flex;
    align-items: center;
    color: aliceblue ;
}
.profile-details-name{
    font-size: 24px;
    font-family: "Poppins SemiBold";
}
.profile-details-role{
    display: flex;
    flex-direction: column;
    margin: 14px 0 24px 0;
}
.profile-details-role h1{
    font-size: 40px;
    font-family:cursive ;
}
.primary-text{
  color: (--white);  
}
.highlighted-text{
    color: var(----dark-orange);
}
.profile-role-tagline{
    font-size: 19px;
    margin: 5px 0 0 0;
    font-family: "Poppins Light";
}

.profile-options .highlighted-btn{
    margin:  0 0 0 28px;
}
.profile-options .highlighted-btn:hover{
    margin:  0 0 0 28px;
    background-color: cornsilk;
    color: #111;
}
.profile-picure{
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow:  0 1px 0px 0px var(--white);
    border-radius: 50%;
    height: 380px;
    width: 380px;
    margin:  0 0px 0 100px;
}
/* .profile-picture-background{
    height: 92%;
    width: 92%;
    background-image: url('../../../assest/Home/profilephoto.jpg');
    background-size: cover;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
} */
/* .profile-picture-background:hover{
    transform: scale(1.07);
    transition: 1s ease-out;
}
.colz .colz-icon i{
    color: white;
    padding: 8px;
    padding-left: 0px;
}
.colz .colz-icon i:hover{
    transform: scale(1.5);
}

@media screen and (max-width: 1110px){
    .profile-picure{
        margin:  0 0px 0 80px;
    }
    .profile-details-name{
        font-size: 20px;
    }
    .profile-details-role .primary-text{
        font-size: 12px;
    }
    .profile-options .btn{
        width: 120px;
        padding: 11pz 0;
        z-index: 700;
    }
}

@media screen and (max-width: 910px){
  .profile-picure{
      height: 320px;
      width: 320px;
      margin: 0 0 0 4px;
  }
}
@media screen and (max-width: 810px){
    .profile-picure{
        margin: 0  !important;
    }
    .profile-parent{
        flex-direction: column-reverse;
        margin: 40px 0 0 0;
    }
    .profile-options{
        display: flex;
        justify-content: space-between;
    }
    .profile-details{
        margin: 25px 0 0;
    }
    .profile-options .highlighted-btn{
        margin: 0 !important;
    }
    .profile-options , 
    .profile-details-role{
        text-align: center;
    }
}
@media screen and (max-width: 375px){
      .profile-picure{
          height: 275px;
          width: 275px;
          margin-top: -90px;
      }
      .profile-details{
          width: 90%;
      }
}  */